body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #af4c53;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}